<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Differential Drive Plugin -->
  <gazebo>
    <plugin name="diff_drive" filename="ignition-gazebo-diff-drive-system">
      <left_joint>left_wheel_joint</left_joint>
      <right_joint>right_wheel_joint</right_joint>
      <wheel_separation>0.35</wheel_separation>
      <wheel_radius>0.05</wheel_radius>
      <odom_frame>odom</odom_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <topic>cmd_vel</topic>
      <odom_topic>odom</odom_topic>
    </plugin>
  </gazebo>

</robot>