<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


        <ros2_control name="GazeboSimSystem" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboCustomSimSystem</plugin>
            </hardware>
            <joint name="joint-chassis-front-left-wheel">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="joint-chassis-front-right-wheel">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    <!-- Gazebo reference for gz_ros2_control -->
   <gazebo>
  <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">>
    <robot_param>robot_description</robot_param>
    <robot_param_node>robot_state_publisher</robot_param_node>
    <parameters>$(find my_bot)/config/diff_drive_controllers.yaml</parameters>
  </plugin>
</gazebo>

</robot>