controller_manager:
  ros__parameters:
    update_rate: 100  # Hz
    use_sim_time: true

    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster


diff_drive_controller:
  ros__parameters:
    # --- IMPORTANT: 6 wheels (3 left, 3 right) ---
    left_wheel_names:
      - joint-chassis-front-left-wheel
      - joint-chassis-mid-left-wheel
      - joint-chassis-rare-left-wheel

    right_wheel_names:
      - joint-chassis-front-right-wheel
      - joint-chassis-mid-right-wheel
      - joint-chassis-rare-right-wheel

    wheel_separation: 0.35
    wheel_radius: 0.05

    base_frame_id: "base_link"
    odom_frame_id: "odom"

    publish_rate: 50.0

    # --- IMPORTANT: turn OFF odom TF (we will use EKF later) ---
    enable_odom_tf: false

    use_stamped_vel: false
    cmd_vel_timeout: 0.5

    linear.x.has_velocity_limits: true
    linear.x.max_velocity: 0.5
    angular.z.has_velocity_limits: true
    angular.z.max_velocity: 2.0


joint_state_broadcaster:
  ros__parameters: {}
